.jumbotron{
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 0px;
}   

.font-weight-bold{
    padding-right: 30px;
    
}

#temp{
    margin-bottom: 10px;
    font-weight: bold;
}

#humidity{
    margin-bottom: 10px;
    font-weight: bold;
}

#wind{
    margin-bottom: 10px;
    font-weight: bold;
}